# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/

# Database
*.db
*.sqlite
*.sqlite3

# VS Code
.vscode/settings.json

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Build artifacts (PyInstaller + installer)
build/
dist/